*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    font-family: "SF Pro Display";
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* banner */
.logo {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}